.imgsobre{
  width: 300px;
  height: 300px;
}

.nos{
  background-color: #fff;
  border: 2px solid #267001;
}
 
.img{
  width: 300px;
  height: 350px;
  display: inline-block;
}

.texto{
  width: 350px;
  height: 350px;
  display: inline-block;
}

.sobre{
  color: black;
}

.titu {
  color: #267001;
    padding: 20px;
}

/*---------------------------------------------*/

.vt {
  width: 350px;
  height: 300px;
  margin-top: 50px;
  display: inline-block;
}

.animaisdomundo{
  background-color: #267001;
  border: 2px solid #267001;
}

/*---------------------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.animais {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.species-info {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #ffff;
    padding: 20px;
}

p {
  margin: 5px 0;
  color: #ffff;
}

/*---------------------------------------------*/

/* Estilos para o corpo da página */
body {
    background-color: #fde4ba;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Estilos para o cabeçalho */
  .posicionarCabecalho {
    background-color: #267001;
    color: #ffffff;
    padding: 20px;
  }

  /* Estilos para o título da tabela */
  h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Estilos para a tabela */
  .table {
    
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #267001;
  }
  
  /* Estilos para as células do cabeçalho */
  thead th {
    background-color: #267001;
    color: #ffffff;
    padding: 10px;
  }
  
  /* Estilos para as células do corpo da tabela */
  tbody td {
    padding: 10px;
  }
  
  /* Estilos para as linhas pares */
  tbody tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  /* Estilos para os botões Editar e Excluir */
  form {
    display: inline;
  }
  
  /* Estilos para o botão "Adicionar tenis" */
  .btn-primary a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: #267001;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #267001;
  }
  
  
.button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  background-color: #267001;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #267001 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
 }
 
.button:hover {
  box-shadow: #267001 0px 7px 0px 0px;
 }
 
 .button:active {
  background-color: #267001;
  /*50, 168, 80*/
  box-shadow: #267001 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
 }

 .rodape{
  background-color: #267001;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: white;
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: #0000;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
      width: calc(50% - 20px);
      padding: 10px;
  }
  .rodape-div{
      padding: 60px 0px 40px 0px;
  }
}